body {
    background-color: whitesmoke;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 140%;
}

.article_box {
    padding-top: 10px;
    margin: 4% auto;
    background-color: white;
    width: 70%;
    border-left: 10px solid #FBF963;
}

.title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 40px;
    width: 90%;
    font-weight: bold;
}

.header_image {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_image img {
    width: 80%;
    margin-bottom: 0;
}

.article_words {
    margin-top: 0;
    padding: 10%;
    padding-top: 0;
}

.opening {
    margin-top: 5%;
    font-size: 15px;
}

.pick {
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 5%;
}

.team_logo {
    width: 10%;
    margin-right: 10%;
}

.team_logo img {
    width: 100%;
}

.pick_header {
    display: flex;
    align-items: center;
}

.team_name {
    font-weight: bold;
    font-size: 25px;
}

.player_info {
    margin-top: 3%;
    font-size: 17px;
}

.player_name {
    text-decoration: underline;
}

.pick_body {
    margin-top: 2%;
    font-size: 15px;
}

.closing {
    margin-top: 2%;
    font-size: 15px;
}