body {
    background-color: whitesmoke;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 140%;
}

.article_group {
    width: 50%;
    position: relative;
    background-color: white;
    top: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-left: 10px solid #FBF963;
    border-radius: 20px;
}

.article_group a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.headline {
    color: black;
}

.divider {
    position: relative;
    width: 50%;
    height: 5px; /* thickness of the top border */
    background: linear-gradient(to left, #fec122, #FBF963);
    margin: 10px auto;
}

.big_article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0px;
}

.big_article img {
    padding-left: 5px;
    padding-left: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.big_article .text_box {
    padding: 20px;
}

.big_article .headline {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.big_article .blurb {
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}

.small_article {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.small_article img {
    width: 30%;
    height: 17.14%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.small_article .text_box {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.small_article .headline {
    font-size: 20px;
    font-weight: bold;
}

.small_article .blurb {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.links {
    margin-top: 7%;
}