body {
    background-color: #E7EEFB;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 140%;
}

.article_group {
    width: 50%;
    position: relative;
    background-color: white;
    top: 5%;
    margin: 0 auto;
    margin-bottom: 2%;
    border-left: 10px solid #FBF963;
    border-radius: 2%;
}

.article_group a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.headline {
    color: black;
}

.divider {
    position: relative;
    width: 50%;
    height: 10px;
    background: linear-gradient(to left, #fec122, #FBF963);
    margin: 1% auto;
}

.big_article {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0%;
}

.big_article img {
    padding-left: 0.5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.big_article .text_box {
    padding: 2%;
}

.big_article .headline {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.5%;
}

.big_article .blurb {
    font-size: 16px;
    color: gray;
    margin-top: 2%;
}

.small_article {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 1%;
}

.small_article img {
    width: 30%;
    height: auto;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.small_article .text_box {
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
}

.small_article .headline {
    font-size: 20px;
    font-weight: bold;
}

.small_article .blurb {
    font-size: 12px;
    color: gray;
    margin-top: 1%;
}

.links {
    margin-top: 7%;
}

footer {
    margin-top: 5%;
    background-color: #C5CBD6 !important;
    color: white;
    text-align: center;
}
